<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Chaostreff Flensburg e.V. - Hackerspace & Makerplace</title>
    <meta name="description" content="Flensburgs Hackerspace und Verein zur Förderung der Hackerkultur.">
    <meta name="keywords" content="Chaostreff, Flensburg, chaostreff-flensburg, foerdefunk, fördefunk,
    3d-Druck, Hacken, Hacker, Kultur, Bildung, Lasercutter, Laser, Netzwerk, Siebdruck, ccc, Chaos Computer Club, Makerspace, FabLab">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/css/main.css" charset="utf-8">
    <link rel="stylesheet" href="/css/grid.css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">

    <!--
    <link rel="icon" sizes="192x192" href="highres-favicon.png?v=3">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico?v=3">
    -->

    <meta name="theme-color" content="#ffffff">

    <!-- Twitter-Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@chaos_fl" />
    <meta name="twitter:title" content="Chaostreff Flensburg e.V." />
    <meta name="twitter:description" content="Flensburgs Hackerspace und Verein zur Förderung der Hackerkultur." />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/chaostreff-flensburg/blog/gh-pages/images/ctfl-logo.jpg" />

  </head>
  <body>

    <div class="content">

      <header>
        <img src="/img/logo.svg" class="logo" alt="Chaostreff Flensburg e.V. - Hackerspace & Makerplace" />
      </header>

      <div class="row">
        <div class="col s12">
          <nav class="card">
            <a href="#" class="navlink">Home</a>
            <a href="#" class="navlink">Blog</a>
            <a href="#" class="navlink">Events</a>
          </nav>
        </div>
      </div>

      <div class="about row">
        <div class="aboutText col s12 m7 l6">
          <div class="card">
            <h2>Für alle Neugierigen, Bastler & Nerds</h2>
            <p>
              Dem Chaos Computer Club e.V. nahe stehend, sind wir als Deutschlands nördlichster Chaostreff eine Gruppe Technikinteressierter mit Spaß am Gerät. Wir betreiben in der Flensburger Innenstadt einen Klub-Raum (Hackerspace), in dem Mitglieder gemeinsam programmieren, löten und an diversen Projekten arbeiten. Zusätzlich finden regelmäßig Veranstaltungen statt, die jedem Menschen offenstehen und in denen wir der Allgemeinheit den Umgang mit neuer Technik nahe bringen. Jeder Mensch ist herzlich eingeladen vorbei zu kommen und sich die Projekte und Veranstaltungen anzusehen.
            </p>
          </div>
        </div>
        <div class="aboutImage col s12 m5 l6">
          <img src="/img/chaosknoten.svg" alt="" class="chaosknoten"/>
        </div>
      </div>

      <div class="news row">
        <div class="blog col s12 m10 l8 offset-m1 offset-l3">
          <div class="card">
            <h2>Neues im Blog</h2>
            {{#if posts}}
              {{#each posts}}
                <h3>{{this.title}}</h3>
                <p>
                  {{{this.content}}}
                </p>
                <a href="/blog/{{this.slug}}" class="button c">Den ganzen Beitrag lesen..</a>
              {{/each}}
            {{else}}
              <p>Es sind keine Blogposts vorhanden.</p>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="events row">
        <div class="upcomming col s12 m10 l8 offset-m1">
          <div class="card">
            <h2>Die nächsten Events</h2>
            {{#if events}}
              {{#each events}}
                <h3>{{this.name}}</h3>
                {{{this.description}}}
                <p><i>max. {{this.maxParticipants}} Teilnehmer</i></p>
                <p>Angeboten von {{this.creator}} am {{this.time}}</p>
              {{/each}}
            {{else}}
              <p>Aktuell sind keine Events geplannt.</p>
            {{/if}}
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
