<div id="header"></div>
<div id="menu">
  {{#if menu}}
    <ul>
    {{#each menu}}
      <li><a href="/{{this.slug }}">{{this.title}}</a></li>
      {{#if this.submenu}}
        <ul>
        {{#each this.submenu}}
        <li><a href="/{{this.slug}}">{{this.title}}</a></li>
        {{/each}}
        </ul>
      {{/if}}
    {{/each}}
    </ul>
  {{else}}
    <h1>No menu entries</h1>
  {{/if}}
</div>
<div id="about"></div>
<div id="news">
  {{#if posts}}
    {{#each posts}}
      <h1>{{this.title}}</h1>
      {{{this.content}}}
      <p>Post written by {{this.author}}</p>
      <hr>
    {{/each}}
  {{else}}
    <h1>No posts</h1>
  {{/if}}
</div>
<div id="events">
  {{#if events}}
    {{#each events}}
      <h1>{{this.title}}</h1>
      <p>Offered by {{this.author}}</p>
      {{{this.description}}}
      <hr>
    {{/each}}
  {{else}}
    <h1>No events</h1>
  {{/if}}
</div>
<div id="contact"></div>
<div id="footer"></div>
